body{
    background-color: #282B32;
}
input {
    background-color: #F8C44C;
    border-radius: 8px;
    padding: 19px;
    width: 315px;
    margin: 0px;
}
textarea {
    background-color: #F8C44C;
    border-radius: 8px;
    padding: 19px;
    width: 50%;
    margin: 0px;
    height: 125px;
}
input#register_submit {
    background-color: transparent;
    border: none;
    color: black;
    background-color: #F8C44C;
}
form#formulaire {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 4rem;
}
#title-white{
    color:white;
}
input#register_submit:hover {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    textarea {
        width: 315px;
    }
}
