body{
    background-color: #282B32;
}


input {
    background-color: #F8C44C;
    border-radius: 8px;
    padding: 19px;
    width: 315px;
    margin: 0px;
}
section#register {
    color: #F9F8F9;
    padding: 4rem;
    overflow: hidden;
    position:relative;
}
input#register_submit {
    background-color: transparent;
    border: none;
    color: black;
    background-color: #F8C44C;
    width:315px;
}
.title-register {
    text-align: center;
}
.form-register {
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.form-register-div {
    display: flex;
    flex-direction: column;
}
form#form_register {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.paddbot-register-title {
    padding-bottom: 2rem;
}
.paddbot-register{
    padding-bottom: 1rem;
}
span {
    padding-top: 1rem;
    color:red;
}
header{
    z-index: 5;
    position: relative;
}
.logo-inscription {
    width: 120px;
    margin-inline: auto;
    padding-bottom: 28px;
}
.tache-left{
    position: absolute;
    left: 19vw;
    top: 42vh;
    transform: rotate(88deg);
    width: 39rem;
}
.tache-right {
    position: absolute;
    top: 17vh;
    left: 53%;
    transform: rotate(358deg);
    width: 154rem;
}

div#page {
    overflow-x: hidden;
}
input#register_submit:hover {
    background-color: white;
    color: black;
}
@media (max-width: 768px) {
    .dashicons-menu {
        color: white;
        font-size: 40px;
        color: white;
        font-size: 50px;
        position: absolute;
        top: 0.5vh;
        left: 82vw;
    }
    .tache-left{
        display:none;
    }
    .tache-right {
    display:none;
    }
    .form-register-div {
        width: 33rem;
    }
}
@media (max-width: 768px) {
    input {
        width: 100%;
    }
    .form-register {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }
    .paddbot-register-title {
        padding-bottom: 4rem;
    }
}